<!-- This html template will start off all of your other html files/pages -->

<!DOCTYPE html>
<html>
  <head>
    <!-- the page title will be a variable passed to the render_template() function for each page separately-->
    <title> {{ page_title }}</title>
  	<meta charset="utf-8"/>
    <!-- include the css from the file static/style.css -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Poppins&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('stylesheets', filename='styles.css') }}">
  </head>
  <body>

  <!-- this headline will appear on all pages. -->
  <header>
    <div class="banner">
      <h1> <span style="color: {{ color_hex_code }}">Color</span> Check  </h1>
    </div>
  </header>
  <main>
    {% block content%}
    {% endblock %}
  </main>
  <footer>
    <p class="small-text"> created by Filip Tsolov </p>
  </footer>
  </body>
  <script type="application/javascript">
      //
  </script>
