{% extends "base.html" %}

{% block content %}
    <p> Always wondered if a certain color exists in CSS? Just type the color in the input box
    down below and see what happens.</p>
    
    <!-- when the user submits this form, it will send the information submitted from the client (frontend)
    to the server (backend). It will send that information to a particular URI, at "/color".
    Your server will then run the code which is defined in website.py at that route. -->

    <form action="/color" method="post">
        <!-- add the contents of your form here -->
        <div class="flex">
            <input class="search-bar" autocomplete="off" type="text" name="color" id="color" required placeholder="e.g blue">
            <input class="submit-button hvr-ripple-out" type="submit" value="Check">
        </div>
    </form>

{% endblock %}