{% extends "base.html" %}

{% block content %}
<img class="picture" src="https://code.berlin/content/uploads/bc13d15e-1200x800.jpg" alt="Students" class="picture">
    <p> Studying at CODE is quite unique. It's a completely different experience compared to normal universities, and it can sometimes be really frustrating, but also absolutely great. Problem-based learning was initially developed and implemented in the 1960s. The inventors believed that knowing the information is just the first step of learning – real competence comes from the ability to apply knowledge and to continue learning.
        Problem-based learning has many proven advantages, such as acquiring long-term knowledge, gaining confidence in one’s abilities, as well as a better understanding of the learning materials because the students are required to both gain knowledge and apply it. 
{% endblock %}