body {
    font-family: "San Francisco Display", Geneva, Tahoma, sans-serif;
    margin: auto;
    text-align: center;
    max-width: 50ch;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 3rem;
    margin-bottom: 0.3rem;
    /*font-weight: 800;*/
}

p {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: #5a5a5a;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5 {
    text-align: center;
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}

.small-text {
    font-size: 0.8rem;
}

.rectangle {
    height: 200px;
    width: 400px;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    cursor: auto;
}

.search-bar {
    width: 90%;
    height: 3rem;
    padding: 0 1.3rem;
    border-radius: 0.3rem;
    background-color: #e7e7e7;
    border: 2px solid #e7e7e7;
    margin-top: 2rem;
}

.search-bar:focus {
    outline: none !important;
    border: 2px solid #096bd6;
    /*box-shadow: 0 5px 30px #d9d9d9;*/
}

.submit-button {
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    background-color: #096bd6;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    transition-property: background-color, transform;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
    border: none;
    font-size: 1rem;
    font-weight: 400;
}

.submit-button:hover {
    background-color: #075bb7;
    transform: scale(1.02);
}

.flex {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

footer {
/*    text-align: center;*/
/*    bottom: 0;*/
/*    position: absolute;*/
/*    margin: 0 auto;*/
}

/*HOVER*/

/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, reverse;
    animation-direction: normal, reverse;
}
