body {
    font-family: "San Francisco Display", Geneva, Tahoma, sans-serif;
    margin: auto;
    text-align: center;
    max-width: 50ch;
    line-height: 1.5;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

a {
    text-decoration: none;
}

h3 {
    text-align: center;
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}

.rectangle {
    height: 200px;
    width: 400px;
    border-radius: 10px;
}

.search-bar {
    width: 70%;
    height: 3rem;
    padding: 0 1.3rem;
    border-radius: 0.3rem;
    background-color: #e7e7e7;
    border: 2px solid #e7e7e7;
    margin-top: 2rem;
}

.search-bar:focus {
    outline: none !important;
    border: 2px solid #096bd6;
    /*box-shadow: 0 5px 30px #d9d9d9;*/
}

.submit-button {
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    background-color: #096bd6;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
    border: none;
    font-size: 1rem;
    font-weight: 400;
}

.submit-button:hover {
    background-color: #075bb7;
    transform: scale(1.02);
}

.flex {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
}

